<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

</head>
<body>

    <!-- FORGOT PASSWORD FORM -->
    <div class="form-container">
        <form>
            <h1>Forgot Password</h1>
            <label for="forgotEmailInput">Enter Email</label><br>
            <input type="email" id="forgotEmailInput" placeholder="Email" autocomplete="off" required><br>
            <button type="button" class="forgot-password-button" id="sendOtpButton">Send OTP</button><br>
            <input type="text" id="otpInput" placeholder="Enter OTP" autocomplete="off" disabled><br>
            <button type="submit" class="forgot-password-submit" id="submitOtpButton" disabled>Submit</button><br>
            <a href="login" id="backToLogin">Back to Login</a>
        </form>
    </div>

</body>
</html>
